:root{
    --first-color: hsl(31, 77%, 52%);
    --second-color: hsl(184, 100%, 22%);
    --third-color: hsl(179, 100%, 13%);
    --utility-color: hsl(0, 0%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}


.container{
    max-width: 320px;
    margin: 4em auto;
}

.mainContainer{
    margin: 0 1.5em;
    border-radius: 10px;
    overflow: hidden;
}

.title{
    color: var(--utility-color);
    font-size: 2.2em;
    padding: .75em 0;
}

.content{
    line-height: 1.7;
    padding-bottom: 1.5em;
}

.card{
    padding: 2.5em;
}

.orange{
    background-color: var(--first-color);
}

.teal{
    background-color:var(--second-color);
}

.green{
    background-color:var(--third-color);
}

.btn{
    padding: 1em 2.5em;
    border-radius: 40px;
    border: none;
    background-color: var(--utility-color);
}

.orange .btn{
    color: var(--first-color);
}

.teal .btn{
    color:var(--second-color);
}

.green .btn{
    color:var(--third-color);
}

.btn:hover{
    background-color: transparent;
    border: 2px solid white;
    color: var(--utility-color);
}



@media(min-width:640px){
    .container{
        max-width: 850px;
    }

    .flexContainer{
        display: flex;
    }

    .content{
        margin-bottom: 3.6em;
    }
}